
PP/Lectures_Lists/Scala/List1/List1.iws
*.iws
*.iws
*.ml
*.sc
*.pyc
*.vsidx
*.vsidx
TOEP/List6/.vs/List6/FileContentIndex/44c638ee-b9dc-4f12-a5e7-659190d6906d.vsidx
TOEP/List6/.vs/List6/FileContentIndex/44c638ee-b9dc-4f12-a5e7-659190d6906d.vsidx
TOEP/List6/.vs/List6/FileContentIndex/96dd900f-b7e2-40c8-8bd6-1073e7ad676b.vsidx
*.tlog
PP/Lectures_Lists/Scala/List1/List1.iws
TOEP/List6/x64/Debug/List6.pdb
TOEP/List6/x64/Debug/List6.exe
TOEP/List6/List6/x64/Debug/vc143.pdb
TOEP/List6/List6/x64/Debug/vc143.idb
TOEP/List6/List6/x64/Debug/List6.tlog/CL.write.1.tlog
TOEP/List6/List6/x64/Debug/List6.tlog/CL.read.1.tlog
TOEP/List6/List6/x64/Debug/List6.tlog/CL.command.1.tlog
TOEP/List6/List6/x64/Debug/List6.log
TOEP/List6/List6/x64/Debug/List6.ilk
TOEP/List6/List6/x64/Debug/CIndividual.obj
TOEP/List6/.vs/List6/v17/ipch/AutoPCH/e02732fb250028ae/TESTER.ipch
TOEP/List6/.vs/List6/v17/Browse.VC.db
TOEP/List6/.vs/List6/v17/.suo
TOEP/List6/.vs/List6/FileContentIndex/c025909a-6b2c-4fa0-b290-68334740625d.vsidx
TOEP/List6/.vs/List6/FileContentIndex/bf53ce11-c431-4d95-9fdd-7eee544bbe77.vsidx
TOEP/List6/.vs/List6/FileContentIndex/96dd900f-b7e2-40c8-8bd6-1073e7ad676b.vsidx
TOEP/List6/.vs/List6/FileContentIndex/44c638ee-b9dc-4f12-a5e7-659190d6906d.vsidx
SL/List1/NASA
PP/Practicals_Lists/Scala/List9/out/production/List9/Debugger.class
PP/Practicals_Lists/Scala/List9/List9.iws
PP/Practicals_Lists/Scala/List5/src/List5.sc
PP/Practicals_Lists/Scala/List5/List5.iws
PP/Practicals_Lists/Ocaml/List7.ml
PP/Practicals_Lists/Java/List7/List7.iws
PP/Lectures_Lists/Scala/List1/List1.iws
MSiD/Ex1/Main.py
MSiD/Ex1/population.csv
SL/Folder to copy/aaaaa.txt
SL/Folder to copy/fgsdgsdg.txt
SL/Folder to deposit/aaaaa.txt
SL/Folder to deposit/fgsdgsdg.txt
SL/List2/NASA
SL/List1_Dzikiewicz.zip
SL/List1_Dzikiewicz.zip
SL/List1_Dzikiewicz.zip
SL/List3_Dzikiewicz.zip
SL/List4/Screenshots/Ex2changeToDict.png
SL/List4/Screenshots/Ex2getUser.getMessageType.png
SL/List4/Screenshots/Ex2ipv4.png
SL/List4/Screenshots/Ex3logs.png
SL/List4/Screenshots/Ex4.png
SL/List4/Screenshots/Ex5.png
SL/List4/README.txt
SL/List4_Dzikiewicz.zip
SL/List3/Screenshot/Ex1.png
SL/List3/Screenshot/Ex2.mkv
SL/List3/Screenshot/Ex3.png
SL/List3/Screenshot/Ex3d.png
SL/List1_Dzikiewicz.zip
SL/List4/SSH.log
SL/List5/SSH.log
SL/List1_Dzikiewicz.zip
